

@media (max-width: 480px) {
  .react__prez__controller__wrap.close {
    opacity: .5;
  }
}

.react__prez__controller__wrap.close:hover {
  opacity: .5;
}

.react__prez__controller__wrap input:focus {
  outline: none;
  border-color: salmon;
}
